canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #171717;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.hgroup {
	display: block;
  text-align: center;
  margin-top: 4em;
  position: absolute;
  left: 250px;
  color: white;
  transform: translate(-50%,-225px);
}
.form {
	position: relative;
  width: 450px;
  //height: 300px;
  background-color: #EEECF7;
  padding: 5em;
  border: 1px solid #EEECF7;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.full-width {
  width: 100%;
}
.top-margin{
	margin-top: 1.5em;
}
.logo{
	display: block;
	width: 75px;
	height: 75px;
	text-align: center;
	//margin-bottom: -4em;
	position: absolute;
	left: 250px;
	color: white;
	transform: translate(-50%,100px);
}