canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #171717;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}
.front{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hgroup {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 1em;
}
.form {
  margin-left: auto;
  margin-right: auto;
	position: relative;
  width: 90% !important;
  background-color: #EEECF7;
  padding: 1em;
  border: 1px solid #EEECF7;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.full-width {
  width: 100%;
}
.top-margin{
  margin-top: 1em;
}
.logo{
  padding-top: 1em;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 1em;
}
.logoImage{
  max-width: 75px;
  vertical-align: middle;
  margin-left: 20px;
}
.logoText{
  display: inline-block;
  margin-left: 20px;
}
@media only screen and (min-width: 600px)
{
  .form{
    padding: 5em;
    max-width: 450px;
  }
}