$black: #171717;
$lightred: #8EE4AF;
$red: #EDF5E1;
$green: #5CDB95;
$gray: #907163;
$lightGrey: #379683;


*{
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    background-color: $black;
  }
