<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon>logo_dev</mat-icon>
    <span class="example-spacer"></span>
    <div class="user-name">
      <mat-icon>alternate_email</mat-icon> trustme@onet.pl
    </div>
    <button mat-raised-button color="primary">
      <mat-icon>language</mat-icon>
    </button>
    <button mat-raised-button color="basic" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      opened
    >
      <mat-accordion multi>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title> Devices </mat-panel-title>
            <mat-panel-description>
              Devices, Configurations
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a routerLinkActive="active" [skipLocationChange]="true" mat-list-item [routerLink]="['/dashboard', { outlets: {'content': ['devices']}}]" ><mat-icon>change_history</mat-icon> Devices</a>
            <a style="display:none" routerLinkActive="active" [skipLocationChange]="true" mat-list-item [routerLink]="['/dashboard', { outlets: {'content': ['configurations']}}]"
              ><mat-icon>settings_input_component</mat-icon> Configurations</a
            >
            <a style="display:none" routerLinkActive="active" [skipLocationChange]="true" mat-list-item [routerLink]="['/dashboard', { outlets: {'content': ['labels']}}]"><mat-icon>label_important</mat-icon> Labels</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel style="display:none">
          <mat-expansion-panel-header>
            <mat-panel-title> Pools </mat-panel-title>
            <mat-panel-description>
                Mining pools
              </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a routerLinkActive="active" [skipLocationChange]="true" mat-list-item [routerLink]="['/dashboard', { outlets: {'content': ['workers']}}]"><mat-icon>dns</mat-icon> Workers</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title> Finances </mat-panel-title>
            <mat-panel-description>
              Wallets, Transactions
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a style="display:none" routerLinkActive="active" [skipLocationChange]="true" mat-list-item [routerLink]="['/dashboard', { outlets: {'content': ['accaunts']}}]"><mat-icon>account_balance</mat-icon> Accaunts</a>
            <a style="display:none" routerLinkActive="active" [skipLocationChange]="true" mat-list-item [routerLink]="['/dashboard', { outlets: {'content': ['transactions']}}]"><mat-icon>paid</mat-icon> Transactions</a>
            <a routerLinkActive="active" [skipLocationChange]="true" mat-list-item [routerLink]="['/dashboard', { outlets: {'content': ['wallets']}}]"><mat-icon>wallet</mat-icon> Wallets</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title> Settings </mat-panel-title>
            <mat-panel-description>
              Mining settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a routerLinkActive="active" [skipLocationChange]="true" mat-list-item [routerLink]="['/dashboard', { outlets: {'content': ['settings']}}]"><mat-icon>settings</mat-icon> Settings</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
     <router-outlet name="content"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
